.footer {
    padding-top: 1rem;
    background-color: var(--bg-primary);
    
    @media (width >= 768px) {
        padding-top: 0;
    }
}

.footer__copy {
    display: flex;
    justify-content: center;
    padding-block: 0.75rem;
}