.form {
    display: flex;
    flex-direction: column;
}

.form--hero {
    flex-direction: row;
    background: var(--text-colorhight);
    padding-inline: 0.25rem;
    border-radius: 0.65rem;
    padding-block: 0.5rem;
    width: 100%;
    gap: calc(0.0625rem * 5);
    
    @media (width >= 768px) {
        width: fit-content;
        padding-block: 0.3rem;
    }
}


.form--contact {
    background: var(--text-colorhight);
    width: 85%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0rem var(--border-color);
    gap: 0.8rem;
    display: flex;
    justify-content: center;
    
    @media (width >= 768px) {
        padding: 2rem;
        width: 30%;
        height: 30rem;
    }
}
