.form {
    display: flex;
    flex-direction: column;
}

.form--hero {
    flex-direction: row;
    background: var(--text-colorhight);
    padding-inline: 0.25rem;
    border-radius: 0.65rem;
    padding-block: 0.5rem;
    width: 100%;
    gap: calc(0.0625rem * 5);
    
    @media (width >= 768px) {
        width: fit-content;
        padding-block: 0.3rem;
    }
}

