.logo{
    display: flex;
    gap: calc(0.0625rem * 8);
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
}

.logo__text {
    font-size: 1.25rem;
}

.logo__img{
    width: 2.5rem;
}