.section {
    display: flex;
}

.section--hero {
    justify-content: center;
    padding-top: 2rem;
    align-items: start;
    
    @media (width >= 768px) {
        padding-top: 6rem;
        height: calc(100dvh - 7rem);
        justify-content: center;
        align-items: center;
    }
}

.section--risk-view{
    padding-block: 0;
}


.section--our-solution {
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    background: var(--secondary);
}


.section-container {
    display: flex; 
    width: min(1128px, 100%);
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    @media (width >= 768px) {
        justify-content: center;
        flex-direction: row;
    }
}

.section-container--risk-view, .section-container--our-solution {
    flex-direction: column;
}


.section-container--risk-view {
    width: min(100%, 1278px); 
    gap: 0.5rem;
}


.section-container--our-solution {
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-card);
    padding: 2rem;

    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.section__description--risk-view {
    text-align: center;
    width: 100ch;
}

.section__content{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-inline: 3rem;
}

.section__content--our-solution {
    padding-inline: 0;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    
    @media (width >= 768px) {
        
        flex-direction: row;
    }
}

.section__minititle{
    text-transform: uppercase;
    font-size: 0.75rem;
    color: var( --primary)
}

.section__content__info{
    width: 100%;
}

.section__content__description {
    width: 100%;
    
    @media (width >= 768px) {
        width: 50%;
    }
}

.section__title {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
}

.section__image{
    width: min(100%, 500px);
}