@import "modules/reset.css";
@import "modules/vars.css";
@import "modules/button.css";
@import "modules/menu.css";
@import "modules/header.css";
@import "modules/section.css";
@import "modules/form.css";
@import "modules/input.css";
@import "modules/logo.css";
@import "modules/footer.css";

.body {
  background-color: var(--bg-primary);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 5rem;
}

.main--principal {
  padding: 0;
  padding-top: 5rem;
  flex: 1;
  
  @media (width >= 768px) {
    padding: 0;
  }
}

.main--contact-page {
  display: flex;
  flex-direction: column;
}
