---
import Layout from "@/layout/Layout.astro";
import AboutUs from "@/components/about-us/AboutUs.astro";
import MisionAndValues from "@/components/about-us/MisionAndValues.astro";
import OurTeam from "@/components/about-us/OurTeam.astro";
---

<Layout>
  <main class="main main--sobre-nosotros">
    <AboutUs />
    <MisionAndValues />
    <OurTeam />
  </main>
</Layout>
