---
import { Icon } from "astro-icon/components";
import Wave from "../shared/Wave.astro";
---

<Wave fill="var(--secondary)" />
<section id="soluciones" class="section section--our-solution">
  <div class="section-container section-container--our-solution">
    <div class="section__content section__content--our-solution">
      <div class="section__content__info">
        <span class="section__minititle">Nuestras Soluciones</span>
        <h2 class="section__title">
          Soluciones Integrales para la Resiliencia Sísmica
        </h2>
      </div>
      <p class="section__content__description">
        QuakeNet ofrece herramientas impulsadas por IA para ayudar a las
        empresas a evaluar y mitigar riesgos sísmicos, protegiendo sus
        operaciones y empleados.
      </p>
    </div>
    <ul class="menu menu--our-solution">
      <li class="menu__item menu__item--our-solution">
        <Icon
          class="menu__item__icon menu__item__icon--extralarge"
          name="alert"
        />
        <div class="menu__item__content">
          <h3>Evaluación de Riesgos</h3>
          <p>
            Analiza los niveles de riesgo sísmico para las ubicaciones de tu
            negocio utilizando IA avanzada y big data.
          </p>
        </div>
      </li>
      <li class="menu__item menu__item--our-solution">
        <Icon
          class="menu__item__icon menu__item__icon--extralarge"
          name="planning"
        />

        <div class="menu__item__content">
          <h3>Planificación de Evacuación</h3>
          <p>
            Desarrolla planes de evacuación integrales para garantizar la
            seguridad de tus empleados y activos.
          </p>
        </div>
      </li>
      <li class="menu__item menu__item--our-solution">
        <Icon
          class="menu__item__icon menu__item__icon--extralarge"
          name="analysis"
        />
        <div class="menu__item__content">
          <h3>Análisis Predictivo</h3>
          <p>
            Aprovecha el aprendizaje automático para pronosticar la actividad
            sísmica y optimizar tus estrategias de respuesta ante desastres.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
