---
import RisksMap from "./RisksMap";
---

<section class="section">
    <div class="section-container section-container--risk-view">
        <h2 class="section__title">Visualiza los Riesgos Sísmicos de tu Negocio</h2>
        <p class="section__description section__description--risk-view">El mapa interactivo de QuakeNet te permite evaluar los niveles de riesgo sísmico para cualquier ubicación, capacitándote para tomar decisiones informadas sobre las operaciones y planes de expansión de tu negocio.</p>
        <RisksMap client:only />
    </div>
</section>