---
import { Image } from "astro:assets";
import MockupHero from "@/assets/mockup_hero.png";
import { COMPANY_NAME } from "@/constants";
---

<section class="section">
    <div class="section-container">
        <h2 class="section__title">Anticipa, Protege y Asegura el Futuro de tu Empresa</h2>
        <p class="section__description">En QuakeNet, trabajamos junto a nuestros clientes para asegurar la continuidad de sus negocios frente a los riesgos sísmicos. Nuestra app convierte la incertidumbre en decisiones informadas, ayudándolos a proteger lo que han construido.</p>
        <Image class="section__image" src={MockupHero} alt={`Capturas de la aplicación de ${COMPANY_NAME}`} />
    </div>
</section>