<section class="section section--about-us">
  <div class="section-container section-container--risk-view">
    <h2 class="section__minititle">Sobre nosotros</h2>
    <h2 class="section__title">Quiénes Somos</h2>
    <p class="section__description section__description--about-us">
      QuakeNet es una startup innovadora enfocada en ayudar a las empresas a prepararse y mitigar los riesgos sísmicos. Nuestro equipo multidisciplinario de expertos en tecnología, ciencia de datos y gestión de riesgos crea soluciones avanzadas para que las organizaciones puedan anticiparse, proteger sus operaciones y garantizar la seguridad de sus empleados frente a desastres naturales.
    </p>
  </div>
</section>
