<section class="section section--about-us">
  <div class="section-container section-container--risk-view">
    <h2 class="section__minititle">Sobre nosotros</h2>
    <h2 class="section__title">Quiénes Somos</h2>
    <p class="section__description section__description--about-us">
      QuakeNet es una startup innovadora que se dedica a empoderar a las
      empresas para que se preparen y mitiguen los riesgos sísmicos. Nuestro
      equipo de expertos en tecnología, ciencia de datos y gestión de riesgos
      trabaja incansablemente para desarrollar soluciones que ayuden a nuestros
      clientes a proteger sus operaciones y a sus empleados ante los desastres
      naturales.
    </p>
  </div>
</section>
